@model EntityLayer.Concrete.Log
@{
    ViewData["Title"] = "Static Log Detayı";
}

<h2>Statik Log Detayı</h2>

<div>
    <p><strong>ID:</strong> @Model.LogID</p>
    <p><strong>Mesaj:</strong> @Model.Message</p>
    <p><strong>Tarih:</strong> @Model.LogDate</p>
</div>

