@model EntityLayer.Concrete.Store
@{
    ViewData["Title"] = "Mağaza Güncelle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="StoreID" />
    <div class="form-group">
        <label asp-for="Name" class="control-label">Mağaza Adı</label>
        <input asp-for="Name" class="form-control" type="text"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OwnerName" class="control-label">Mağaza Sahibinin Adı</label>
        <input asp-for="OwnerName" class="form-control" type="text"/>
        <span asp-validation-for="OwnerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">E-Mail</label>
        <input asp-for="Email" class="form-control" type="email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-warning" type="submit">Düzenle</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </div>
    
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

