@model EntityLayer.Concrete.OrderPayment
@{
    ViewData["Title"] = "Ödeme Düzenle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="OrderPaymentID" />

    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" placeholder="Tutar giriniz" type="number" step="0.01" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PaymentMethod"></label>
        <input asp-for="PaymentMethod" class="form-control" placeholder="Kredi Kartı, Havale vb." />
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PaymentDate"></label>
        <input asp-for="PaymentDate" class="form-control" type="date" />
        <span asp-validation-for="PaymentDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OrderID">Sipariş Seçin</label>
        <select asp-for="OrderID" class="form-control" asp-items="ViewBag.Orders"></select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Güncelle</button>
        <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
    </div>

</form>

