@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "Ürünü Sil";
}

<div class="alert alert-warning">
    <strong>Bu mağaza ayarını silmek istediğinize emin misiniz?</strong>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-3">Para Birimi</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Dil</dt>
        <dd class="col-sm-9">@Model.Description</dd>

    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProductID" />
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-danger">Evet, Sil</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">İptal</a>
    </div>
</form>


